body{
    background: rgb(245, 243, 243); 
    margin:0;
    padding:0;
}

.navbar{
    background:white;
    width:100%;
    height: fit-content;
    margin: 0;

}



.menu{
    list-style: none;
    margin:0;
    padding:10px;
}

.menu li{
    display: inline-block;
}