@import url('https://fonts.googleapis.com/css2?family=Asset&family=Dongle:wght@300;700&family=Faster+One&family=Roboto:wght@100&family=Russo+One&family=Style+Script&display=swap');

body{
    background:#CC5803;
    padding:0;
    margin: 0;
    font-family: 'Russo One',sans-serif; 
    color:#1F1300;    
}

header{
    background: #ffc15e;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    z-index: 100;

}

nav{
   
    width:100%;
    height: fit-content;
    margin: 0;
    padding:5px;
    font-size: x-large;
    font-weight: bold;
}

nav h4{
    margin:0;
    padding:0;
    display:inline-block;

}



.menu{
    list-style: none;
    width:fit-content;
    margin: auto;
    
}



.menu li{
    display: inline-block;
    margin:0;
    
}

.menu li a{
    padding-right:20px;
    padding-left:20px;
    text-decoration: none;
    color:black;
   
}

.menu li a:hover{
    border-bottom:solid #cc5803 5px;
    color: #cc5803;
}
.heading{
    color: white;
    width: fit-content;
    margin:0 auto;
    padding:10px;
}

section{
    padding-top: 50px;
    min-height: 100vh;
}


.banner{
    width: 100%;
    position: relative;
    top:200px;
    
}


.main-image{
    display:block;
    float:left;
    position: relative;
    top:0px;
    width:320px;   
    
}

.intro{
    width:30%;
    margin:auto;
    text-align: center;
    font-family: 'Russo One',sans-serif;
    background-color: #ffffff79;
    border:solid 1px red;   
}

.intro h1{
    font-size: 2em;
    background: rgba(0, 0, 0, 0.494);
    color: #ffffff; 
}

.intro h1 span{
    color: crimson;
    font-weight: bold;
    font-style: italic;
    padding: 0;
    margin:0;
}

.intro h4{
    padding:0;
    margin: 0;
}

.intro img{
    height:40px;
}

.registration{
    width:100%;      
}

.registration div{
        margin: auto;
        width: fit-content;
        padding:10px;
}

.registration div input{
    border: none;
    display:block;
     width: 100%;
}

.registration div button{
    width:100%;
    border: none;
    background: #ffc15e;
}


.container{
    width:100%;
}

.content{
    font-family: 'Russo One', sans-serif;
    margin: auto;  
    color: rgb(250, 248, 248);
    font-weight: bold;
    margin-top: 30px;
    width:100%;
    text-align: center;
    position: relative;
    top: 30%;

}


.content h1{
    margin:0;
    background: rgba(0, 0, 0, 0.474);
    
}

.content h1 span{
    color: crimson;
    
    
}

.content h4{
    color: rgb(2, 7, 28);
    background: rgba(255, 255, 255, 0.713);
    font-style: italic;
    text-align: center;
    margin:0;
}

.logo{
    display: block;
    margin: auto;
    height: 150px;    
}

.heading{
    font-family: 'Russo One',sans-serif;
}

.column{
    width:33.3%;
    float:left;
    background:#F7934C;
    min-height:450px;
    margin: 0;
    font-weight: bold;
}

.column h1{
    text-align: center;
    
}

.column div{
    width:90%;
    margin: auto;
}
.screenshot{
    display: block;
    margin: auto;
    width:90%;
}

table{
    border-collapse: collapse;
    width :60%;
}

table td{
    border:solid black 1px;
    
    margin: auto;
    padding: 5px;
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ffc15e;
    height:50px;
    text-align: center;
 }





@media screen and (max-width:810px){


    section{
        padding-top: 0;
        min-height:100vh;
    }



    .main-image{
        display:none;  
    }


   
    
    
    .intro{
        width:100%

    }
    
    
    
    
    .column{
        width:100%;
        float:none;
        margin: 0;
    }
    
}


